<div layout="row" layout-align="center center">

    <md-content layout="column" class="md-whiteframe-2dp" layout-padding>
        <md-input-container>
            <label> Income </label>
            <input type="text" ng-model="$ctrl.income"/>
        </md-input-container>
    </md-content>

    <md-content class="md-whiteframe-2dp" layout-padding>
        <md-input-container>
            <label> Summary </label>
            <input type="text" ng-model="$ctrl.income" disabled/>
        </md-input-container>
    </md-content>
</div>
